<h1>{{tituloPrincipal}}</h1>
<div class="col-xs-12 listado-productos">
  <div class="card-deck">
    <div *ngFor="let tituloTEMP of titulos">
      <div class="card ">
        <div class="card-header card-primary">
          <input-tituloCard clave="{{tituloTEMP.unitno}}" titulo="{{tituloTEMP.unitno}}"></input-tituloCard>
        </div>
        <div class="card-block">
          <p class="card-text">Flota:
            <input-tituloCard clave="{{tituloTEMP.unitno}}" titulo="{{tituloTEMP.flota}}"></input-tituloCard>
          </p>
          <p class="card-text">Odometro:
            <input-tituloCard clave="{{tituloTEMP.unitno}}" titulo="{{tituloTEMP.odometro}}"></input-tituloCard>
          </p>
        </div>
        <div class="card-footer text-right">
          <div class="btn btn-primary">
            <input-tituloCard clave="{{tituloTEMP.unitno}}" titulo="{{tituloTEMP.textoBoton}}" (botonPresionado00)="botonPresionado($event)"></input-tituloCard>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr/>
<h6 class="text-muted" >{{respuesta}}</h6>
